.average-rating{
	text-align: center;
}
.average-rating .dashicons, .anony-commentlist .dashicons{
	color: orange;
}
.anony-commentlist{
	list-style: none;
}

.anony-commentlist .comment-metadata{
	margin:10px 0;
}
.anony-ratings-form .comment-form-comment{
	display: flex;
	flex-direction: column;
}
.no-rating{
	text-align: center;
}
.no-rating .dashicons-star{
	font-family: 'dashicons';
}
.no-rating .dashicons-star::before {
    display: inline-block;
    content: "\f154";
    color: #888;
}
.anony-ratings-form .comment-form-comment textarea{
	border: 1px solid #e1dede;
	border-radius: 20px;
	padding: 30px;
}
.anony-ratings-form .form-submit input[type=submit]{
	background-color: #5e5d5d;
	padding: 10px;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.anony-commentlist li{
	border-radius: 20px;
	padding: 15px 50px;
	-webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
	margin: 20px;
}
.anony-commentlist li .reply{
	display: inline-block;
	position: relative;
	left: -100%;
}
.comments-rating {
	border: none;
	padding: 0;
	margin-left: 0;
}

.comments-rating label {
	display: inline-block;
}

.rating-container {
	/* remove inline-block whitespace */
	font-size: 0;
	/* flip the order so we can use the + and ~ combinators */
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rating-container * {
	font-size: 1.4rem;
}

.rating-container > input {
	display: none;
}

.rating-container > input + label {
	/* only enough room for the star */
	font-family: 'dashicons';
	display: inline-block;
	overflow: hidden;
	text-indent: 9999px;
	width: 1em;
	white-space: nowrap;
	cursor: pointer;
	margin: 0;
}

.rating-container > input + label:before {
	display: inline-block;
	text-indent: -9999px;
	content: "\f154";
	color: #888;
}

.rating-container > input:checked ~ label:before,
.rating-container > input + label:hover ~ label:before,
.rating-container > input + label:hover:before {
	content: "\f155";
	color: orange;
	text-shadow: 0 0 1px orange;
}

.rating-container > .star-cb-clear + label {
	text-indent: -9999px;
	width: .5em;
	margin-left: -.5em;
}

.rating-container > .star-cb-clear + label:before {
	width: .5em;
}

.rating-container:hover > input + label:before {
	content: "\f154";
	color: #888;
	text-shadow: none;
}

.rating-container:hover > input + label:hover ~ label:before,
.rating-container:hover > input + label:hover:before {
	content: "\f155";
	color: orange;
	text-shadow: 0 0 1px orange;
}

.comment-respond .rating-container > .star-cb-clear + label, .comment-respond .rating-container > input + label:before {
	text-indent: 9999px;
}

.comment-respond .rating-container > input + label {
	text-indent: -9999px;
}